<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.base.xmlmappers.discriminator.mapper.FemaleAttrMapper">

    <sql id="TableName">
        female_attr
    </sql>

    <resultMap id="BaseResultMap" type="com.berg.base.xmlmappers.discriminator.dto.FemaleAttr">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="studentId" column="STUDENT_ID" jdbcType="BIGINT"/>
        <result property="cosmetics" column="COSMETICS" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseSql">
        ${prefix}.ID            ${suffix}ID,
        ${prefix}.STUDENT_ID    ${suffix}STUDENT_ID,
        ${prefix}.COSMETICS     ${suffix}COSMETICS
    </sql>

    <select id="fineMore" parameterType="long" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseSql">
                <property name="prefix" value="fa"/>
                <property name="suffix" value=" "/>
            </include>
        FROM <include refid="TableName"/> fa
        WHERE
        fa.STUDENT_ID = #{studentId}
    </select>
</mapper>