<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.base.xmlmappers.update.mapper.MaleAttrMapper">

    <sql id="TableName">
        male_attr
    </sql>

    <resultMap id="BaseResultMap" type="com.berg.base.xmlmappers.update.dto.MaleAttr">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="studentId" column="STUDENT_ID" jdbcType="BIGINT"/>
        <result property="game" column="GAME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseSql">
        ${prefix}.ID            ${suffix}ID,
        ${prefix}.STUDENT_ID    ${suffix}STUDENT_ID,
        ${prefix}.GAME          ${suffix}GAME
    </sql>

    <sql id="BaseCondition">
        <if test="id!=null and id!=0">
            AND ${prefix}.ID = #{id}
        </if>
        <if test="studentId!=null and studentId!=0">
            AND ${prefix}.STUDENT_ID = #{studentId}
        </if>
        <if test="game!=null and !game.equals('')">
            AND ${prefix}.GAME like CONCAT('%', #{game, jdbcType=VARCHAR}, '%')
        </if>
    </sql>

    <select id="select" parameterType="com.berg.base.xmlmappers.update.dto.MaleAttr"
            resultMap="BaseResultMap">

        SELECT
        <include refid="BaseSql">
            <property name="prefix" value="ma"/>
            <property name="suffix" value=" "/>
        </include>
        FROM <include refid="TableName"/> ma

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="BaseCondition">
                <property name="prefix" value="ma"/>
            </include>
        </trim>
    </select>

    <update id="updateById" parameterType="com.berg.base.xmlmappers.update.dto.MaleAttr">
        <if test="id!=null and id!=0">
            UPDATE <include refid="TableName"/>
            <set>
                <if test="studentId!=null and studentId!=0">
                    STUDENT_ID = #{studentId},
                </if>
                <if test="game!=null and !game.equals('')">
                    GAME = #{game}
                </if>
            </set>
            WHERE
            ID = #{id}
        </if>
    </update>

    <update id="updateByCondition">
        <if test="condition!=null">
            UPDATE <include refid="TableName"/>
            <set>
                <if test="maleAttr.studentId!=null and maleAttr.studentId!=0">
                    STUDENT_ID = #{maleAttr.studentId},
                </if>
                <if test="maleAttr.game!=null and !maleAttr.game.equals('')">
                    GAME = #{maleAttr.game}
                </if>
            </set>
            <where>
                <if test="condition.id!=null and condition.id!=0">
                    ID = #{condition.id}
                </if>
                <if test="condition.studentId!=null and condition.studentId!=0">
                    AND STUDENT_ID = #{condition.studentId}
                </if>
                <if test="condition.game!=null and !condition.game.equals('')">
                    AND GAME = #{condition.game}
                </if>
            </where>
        </if>
    </update>
</mapper>