<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.base.support.mapper.StudentMapper">

    <sql id="TableName">
        student
    </sql>

    <!-- 基本映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.base.support.dto.StudentDto">
        <id column="STUDENT_ID" property="studentId" jdbcType="BIGINT"/>
        <result column="DEPARTMENT_ID" property="departmentId" jdbcType="BIGINT"/>
        <result column="NUMBER" property="number" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>
    </resultMap>

    <!-- 扩展映射结果 -->
    <resultMap id="ExtendsResultMap" type="com.berg.base.support.dto.StudentDto"
        extends="com.berg.base.support.mapper.StudentMapper.BaseResultMap">

        <!-- 部门 -->
        <association property="departmentDto" column="department_id"
                     select="com.berg.base.support.mapper.DepartmentMapper.selectOne"/>

        <!-- 爱好 -->
        <collection property="hobbyDtos" column="student_id"
                    ofType="com.berg.base.support.dto.HobbyDto"
                    select="com.berg.base.support.mapper.HobbyMapper.selectMore"/>
    </resultMap>

    <!-- 基本属性 -->
    <sql id="BaseSql">
        ${prefix}.STUDENT_ID,
        ${prefix}.DEPARTMENT_ID,
        ${prefix}.NUMBER,
        ${prefix}.NAME,
        ${prefix}.BIRTHDAY
    </sql>

    <!-- 基本条件 -->
    <sql id="BaseCondition">
        <if test="studentId!=null and studentId!=0">
            AND ${prefix}.STUDENT_ID = #{studentId}
        </if>
        <if test="departmentId!=null and departmentId!=0">
            AND ${prefix}.DEPARTMENT_ID = #{departmentId}
        </if>
        <if test="number!=null and !number.equals('')">
            AND ${prefix}.NUMBER like CONCAT('%', CONCAT(#{number, jdbcType=VARCHAR}, '%'))
        </if>
        <if test="name!=null and !name.equals('')">
            AND ${prefix}.NAME like CONCAT('%', CONCAT(#{name, jdbcType=VARCHAR}, '%'))
        </if>
    </sql>

    <select id="selectOne" resultMap="com.berg.base.support.mapper.StudentMapper.BaseResultMap"
            parameterType="long">
        SELECT
        <include refid="com.berg.base.support.mapper.StudentMapper.BaseSql">
            <property name="prefix" value="s"/>
        </include>

        FROM
        <include refid="com.berg.base.support.mapper.StudentMapper.TableName"/> s

        WHERE
        s.STUDENT_ID = #{studentId}
    </select>

    <select id="select" resultMap="com.berg.base.support.mapper.StudentMapper.BaseResultMap"
            parameterType="com.berg.base.support.dto.StudentDto">
        SELECT
        <include refid="com.berg.base.support.mapper.StudentMapper.BaseSql">
            <property name="prefix" value="s"/>
        </include>

        FROM
        <include refid="com.berg.base.support.mapper.StudentMapper.TableName"/> s

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="com.berg.base.support.mapper.StudentMapper.BaseCondition">
                <property name="prefix" value="s"/>
            </include>
        </trim>
    </select>

    <select id="selectWithExtends" resultMap="com.berg.base.support.mapper.StudentMapper.ExtendsResultMap"
            parameterType="com.berg.base.support.dto.StudentDto">
        SELECT
        <include refid="com.berg.base.support.mapper.StudentMapper.BaseSql">
            <property name="prefix" value="s"/>
        </include>

        FROM
        <include refid="com.berg.base.support.mapper.StudentMapper.TableName"/> s

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="com.berg.base.support.mapper.StudentMapper.BaseCondition">
                <property name="prefix" value="s"/>
            </include>
        </trim>
    </select>

</mapper>