<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.thirdclass.mapper.StudentMapper">

    <sql id="TableName">
        student
    </sql>

    <!-- 基本映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.thirdclass.dto.StudentDto">
        <id column="STUDENT_ID" property="studentId" jdbcType="BIGINT"/>
        <result column="DEPARTMENT_ID" property="departmentId" jdbcType="BIGINT"/>
        <result column="NUMBER" property="number" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>
    </resultMap>

    <!-- 扩展映射结果 -->
    <resultMap id="ExtendsResultMap" type="com.berg.thirdclass.dto.StudentDto"
        extends="com.berg.thirdclass.mapper.StudentMapper.BaseResultMap">
        <result property="departmentName" column="DEPARTMENT_NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基本属性 -->
    <sql id="BaseSql">
        ${prefix}.STUDENT_ID,
        ${prefix}.DEPARTMENT_ID,
        ${prefix}.NUMBER,
        ${prefix}.NAME,
        ${prefix}.BIRTHDAY
    </sql>

    <!-- 扩展属性 -->
    <sql id="ExtendsSql">
        ${prefixA}.NAME   DEPARTMENT_NAME
    </sql>

    <!-- 基本条件 -->
    <sql id="BaseCondition">
        <if test="studentId!=null and studentId!=0">
            AND ${prefix}.STUDENT_ID = #{studentId}
        </if>
        <if test="departmentId!=null and departmentId!=0">
            AND ${prefix}.DEPARTMENT_ID = #{departmentId}
        </if>
        <if test="number!=null and !number.equals('')">
            AND ${prefix}.NUMBER like CONCAT('%', CONCAT(#{number, jdbcType=VARCHAR}, '%'))
        </if>
        <if test="name!=null and !name.equals('')">
            AND ${prefix}.NAME like CONCAT('%', CONCAT(#{name, jdbcType=VARCHAR}, '%'))
        </if>
    </sql>

    <!-- 扩展条件 -->
    <sql id="ExtendsCondition">
        <if test="departmentName!=null and !departmentName.equals('')">
            AND ${prefixA}.NAME like CONCAT('%', CONCAT(#{departmentName, jdbcType=VARCHAR}, '%'))
        </if>
    </sql>

    <select id="select" resultMap="com.berg.thirdclass.mapper.StudentMapper.BaseResultMap"
            parameterType="com.berg.thirdclass.dto.StudentDto">
        SELECT
        <include refid="com.berg.thirdclass.mapper.StudentMapper.BaseSql">
            <property name="prefix" value="s"/>
        </include>

        FROM
        <include refid="com.berg.thirdclass.mapper.StudentMapper.TableName"/> s

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="com.berg.thirdclass.mapper.StudentMapper.BaseCondition">
                <property name="prefix" value="s"/>
            </include>
        </trim>
    </select>

    <select id="selectWithExtends" resultMap="com.berg.thirdclass.mapper.StudentMapper.ExtendsResultMap"
            parameterType="com.berg.thirdclass.dto.StudentDto">
        SELECT
        <include refid="com.berg.thirdclass.mapper.StudentMapper.BaseSql">
            <property name="prefix" value="s"/>
        </include>,
        <include refid="com.berg.thirdclass.mapper.StudentMapper.ExtendsSql">
            <property name="prefixA" value="d"/>
        </include>

        FROM
        <include refid="com.berg.thirdclass.mapper.StudentMapper.TableName"/> s
        LEFT JOIN <include refid="com.berg.thirdclass.mapper.DepartmentMapper.TableName"/> d
        ON s.DEPARTMENT_ID = d.DEPARTMENT_ID

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="com.berg.thirdclass.mapper.StudentMapper.BaseCondition">
                <property name="prefix" value="s"/>
            </include>
            <include refid="com.berg.thirdclass.mapper.StudentMapper.ExtendsCondition">
                <property name="prefixA" value="d"/>
            </include>
        </trim>
    </select>
</mapper>