<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.base.xmlmappers.associate.mapper.StudentMapper">

    <sql id="TableName">
        student
    </sql>

    <!-- 基本映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.base.xmlmappers.associate.dto.Student">
        <id column="STUDENT_ID" property="studentId" jdbcType="BIGINT"/>
        <result column="DEPARTMENT_ID" property="departmentId" jdbcType="BIGINT"/>
        <result column="NUMBER" property="number" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>
        <result column="SEX" property="sex" jdbcType="INTEGER"/>

        <association property="department" column="DEPARTMENT_ID"
                     select="com.berg.base.xmlmappers.associate.mapper.DepartmentMapper.selectOne"/>
    </resultMap>

    <!-- 基本属性 -->
    <sql id="BaseSql">
        ${prefix}.STUDENT_ID,
        ${prefix}.DEPARTMENT_ID,
        ${prefix}.NUMBER,
        ${prefix}.NAME,
        ${prefix}.BIRTHDAY,
        ${prefix}.SEX
    </sql>

    <!-- 基本条件 -->
    <sql id="BaseCondition">
        <if test="studentId!=null and studentId!=0">
            AND ${prefix}.STUDENT_ID = #{studentId}
        </if>
        <if test="departmentId!=null and departmentId!=0">
            AND ${prefix}.DEPARTMENT_ID = #{departmentId}
        </if>
        <if test="number!=null and !number.equals('')">
            AND ${prefix}.NUMBER like CONCAT('%', CONCAT(#{number, jdbcType=VARCHAR}, '%'))
        </if>
        <if test="name!=null and !name.equals('')">
            AND ${prefix}.NAME like CONCAT('%', CONCAT(#{name, jdbcType=VARCHAR}, '%'))
        </if>
        <if test="sex!=null and sex!=0">
            AND ${prefix}.SEX = #{sex}
        </if>
    </sql>

    <select id="select" resultMap="BaseResultMap"
            parameterType="com.berg.base.xmlmappers.associate.dto.Student">
        SELECT
        <include refid="BaseSql">
            <property name="prefix" value="s"/>
        </include>

        FROM
        <include refid="TableName"/> s

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="BaseCondition">
                <property name="prefix" value="s"/>
            </include>
        </trim>
    </select>

</mapper>