<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.base.xmlmappers.procedure.mapper.StudentMapper">

    <sql id="TableName">
        student
    </sql>

    <resultMap id="BaseResultMap" type="com.berg.base.xmlmappers.procedure.dto.Student">
        <id property="studentId" column="STUDENT_ID" jdbcType="BIGINT"/>
        <result property="departmentId" column="DEPARTMENT_ID" jdbcType="BIGINT"/>
        <result property="sex" column="SEX" jdbcType="VARCHAR"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="number" column="NUMBER" jdbcType="VARCHAR"/>
        <result property="birthday" column="BIRTHDAY" jdbcType="DATE"/>
    </resultMap>

    <select id="count" parameterType="com.berg.base.xmlmappers.procedure.dto.StudentProcedure"
            statementType="CALLABLE">
        {call count_student(
          #{name, mode=IN, jdbcType=VARCHAR},
          #{count, mode=OUT, jdbcType=BIGINT},
          #{execDate, mode=OUT, jdbcType=DATE}
        )}
    </select>

    <select id="findStudent" parameterType="com.berg.base.xmlmappers.procedure.dto.PageStudent"
            statementType="CALLABLE">

    </select>

</mapper>