<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berg.firstclass.mapper.DepartmentMapper">

    <sql id="TableName">
        department
    </sql>

    <!-- 基本映射结果 -->
    <resultMap id="BaseResultMap" type="com.berg.firstclass.dto.DepartmentDto">
        <id column="DEPARTMENT_ID" property="departmentId" jdbcType="BIGINT"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基本属性 -->
    <sql id="BaseSql">
        ${prefix}.DEPARTMENT_ID,
        ${prefix}.NAME
    </sql>

    <!-- 基本条件 -->
    <sql id="BaseCondition">
        <if test="departmentId!=null and departmentId!=0">
            AND ${prefix}.DEPARTMENT_ID = #{departmentId}
        </if>
        <if test="name!=null and !name.equals('')">
            AND ${prefix}.NAME like CONCAT('%', CONCAT(#{name, jdbcType=VARCHAR}, '%'))
        </if>
    </sql>

    <select id="selectOne" resultMap="com.berg.firstclass.mapper.DepartmentMapper.BaseResultMap"
            parameterType="long">
        SELECT
        <include refid="com.berg.firstclass.mapper.DepartmentMapper.BaseSql">
            <property name="prefix" value="d"/>
        </include>

        FROM
        <include refid="com.berg.firstclass.mapper.DepartmentMapper.TableName"/> d

        WHERE
        d.DEPARTMENT_ID = #{departmentId}
    </select>

    <!-- 基本的条件查询 -->
    <select id="select" resultMap="com.berg.firstclass.mapper.DepartmentMapper.BaseResultMap"
            parameterType="com.berg.firstclass.dto.DepartmentDto">

        SELECT
        <include refid="com.berg.firstclass.mapper.DepartmentMapper.BaseSql">
            <property name="prefix" value="d"/>
        </include>

        FROM
        <include refid="com.berg.firstclass.mapper.DepartmentMapper.TableName"/> d

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="com.berg.firstclass.mapper.DepartmentMapper.BaseCondition">
                <property name="prefix" value="d"/>
            </include>
        </trim>
    </select>


</mapper>